$highlight:	#999;
$highlight-2:	#2ecc71;

$sans-serif: sans-serif;

$base-link-color: $action-color;
$base-accent-color:	#2ecc71;

$base-background-color: white;

$title-text-color: white;

$parallax-intro-background: url(image_path('intro.jpg'));
$parallax-spacer-background: url(image_path('students.jpg'));
$parallax-quote-background: url(image_path('reflection.jpg'));

@import 'theme/globals';
@import 'theme/header';
@import 'theme/intro';
@import 'theme/people';
@import 'theme/about';
@import 'theme/quotes';
@import 'theme/footer';
