#main-video {
  @include row;
  @include span-columns(8);
  @include shift(2);
  @include media($small-screen-down) {
    @include fill-parent;
    @include shift(0);
  }
  margin-top: 15vh;
}

@media screen and (max-height: $small-height) {
  #main-video {
    margin-top: -6.5%;
  }
}

@media screen and (max-height: $medium-small-height) {
  #main-video {
    margin-top: -4%;
  }
}

@media screen and (max-height: $medium-height) {
  .footer {
    display: none;
  }
}

#top-level-wrapper.video {
  background: $base-background-color url(image_path('heart.jpg')) no-repeat scroll bottom left;

  footer.footer {
    position: fixed;
    bottom: 0em;
  }

  header.navigation {
    $navigation-pinned-color: darken($base-background-color, 40%);
    $navigation-pinned-color-hover: darken($navigation-pinned-color, 40%);

    .navigation-menu-button {
      color: $navigation-pinned-color !important;
      &:hover {
        color: $navigation-pinned-color-hover !important;
      }
    }

    ul li.nav-link {
      &.active a {
        color: $navigation-pinned-color-hover !important;
      }

      &:hover a {
        color: $navigation-pinned-color-hover !important;
      }

      a {
        color: $navigation-pinned-color !important;
      }
    }
  }
}

.video-wrapper {
  border: 1em solid transparentize($base-border-color, 0.3);
  box-shadow: 0 0 8px darken($base-background-color, 40%);
  background-clip: padding-box;
  border-radius: 3px;
}
