#main-video {
  @include row;
  @include fill-parent;
  padding-top: 6em;
}

#top-level-wrapper.video {
  background: $base-background-color url(image_path('heart.jpg')) no-repeat scroll bottom left;
}

.video-wrapper {
  border: 1em solid transparentize($base-border-color, 0.3);
  background-clip: padding-box;
  border-radius: 3px;
}
