$slightly-transparent: transparentize($base-background-color, 0.2);
$fully-transparent: transparentize($base-background-color, 1.0);

section#about {
	padding: 1em 0 5em;

  @include media($large-screen-up) {
    background: $base-background-color url(image_path('tools.jpg')) no-repeat scroll right;
  }

	.split {
		@include clearfix;
		margin: 5em 0 0 0;

		.split-left,
		.split-right {
      @include media($large-screen) {
        @include span-columns(6);
      }
			@include media($large-screen-down) {
				@include span-columns(12);
				@include pad(1em 3em);
				text-align: center;
				float: none !important;
			}
		}

    .split-left {
      @include linear-gradient(to right, $slightly-transparent 0%, $slightly-transparent 90%, $fully-transparent 100%, $fallback: $fully-transparent);
      padding: 0 2em;

      p {
        text-align: left;
        font-family: $base-font-family;

        font-size: 1.6em;

        @include media($large-screen-down) {
          font-size: 1.2em;
        }
      }
    }

		.split-left.float-right {
			float: right;

			&.split-text {				
				@include media($large-screen-up) {
					padding-left: 1.5em;
				}
			}
		}

		.split-right.float-left {
			float: left;
		}

		.split-media {
			#showcase-slider .item img{
			    display: block;
			    width: 100%;
			    height: auto;
			    cursor: move;
			}
		}
		
		.img {
			@include span-columns(3);
			@include omega(5n);
			margin-bottom: 1em;
		}
	}
}
