header.navigation {

    // VARIABLES

    $navigation-padding: 1em;
    $navigation-background: transparent;
    $navigation-color: white;
    $navigation-color-hover: darken($navigation-color, 40%);
    $navigation-pinned-background: white;
    $navigation-pinned-color: $navigation-color-hover;
    $navigation-pinned-color-hover: darken($navigation-pinned-color, 40%);
    $navigation-height: 6em;
    $horizontal-bar-mode: $large-screen;
    $navigation-submenu-padding: 1em;
    $navigation-submenu-width: 12em;

    &.headroom--unpinned {
        transform: translateY(-100%);
    }

    &.headroom--pinned {
        transform: translateY(0%);
    }

    &.headroom--pinned.headroom--not-top {
        background-color: $navigation-pinned-background !important;
        border-bottom: 1px solid darken($navigation-pinned-background, 20%);

        .navigation-menu-button {
            color: $navigation-pinned-color !important;
            &:hover {
                color: $navigation-pinned-color-hover !important;
            }
        }

        ul li.nav-link {
            &.active a {
                color: $navigation-pinned-color-hover !important;
            }

            a {
                color: $navigation-pinned-color !important;
                &:hover {
                    color: $navigation-pinned-color-hover !important;
                }
            }
        }
    }

    &.headroom {
        position: fixed;
        background-color: $navigation-background;
        height: $navigation-height;
        width: 100%;
        z-index: 999;

        transition: transform 200ms linear;

        .navigation-wrapper {
            @include clearfix;
            @include outer-container;
            position: relative;
            z-index: 9999;
        }

        // MOBILE VIEW

        .navigation-menu-button {
            color: $navigation-color;
            display: block;
            float: right;
            font-family: $sans-serif;
            font-weight: 700;
            line-height: $navigation-height;
            margin: 0;
            padding-right: 1em;
            text-transform: uppercase;

            @include media ($horizontal-bar-mode) {
                display: none;
            }

            &:hover {
                color: $navigation-color-hover;
            }
        }

      
        // NAVIGATION MENU

        .nav {
            z-index: 9999999;
            float: none;
        
            @include media ($horizontal-bar-mode) {
                text-align: center;
            }
        }

        ul#navigation-menu {    
            -webkit-transform-style: preserve-3d; 
            // stop webkit flicker
            clear: both;
            display: none;
            margin: 0 auto;
            overflow: visible;
            padding: 0;
            width: 100%;
            z-index: 9999;

            @include media ($horizontal-bar-mode) {
                display: inline;
                margin: 0;
                padding: 0;
            }
        }

      
        // NAVIGATION LINKS

        ul li.nav-link {

            @include media($large-screen-down) {
                padding-left: 0;
                text-align: center;
                border-bottom: solid 1px darken($navigation-background, 5%);
            }

            background: $navigation-background;
            display: block;
            line-height: $navigation-height;
            overflow: hidden;
            padding-left: 2em;
            text-align: right;
            width: 100%;
            z-index: 9999;

            @include media ($horizontal-bar-mode) {
                background: transparent;
                display: inline;
                line-height: $navigation-height;
                text-decoration: none;
                width: auto;
            }

            &.active a {
                color: $highlight;
            }

            a {
                display: inline-block;
                font-weight: 400;
                color: $navigation-color;

                @include media ($horizontal-bar-mode) {
                    padding-right: 1em;
                }

                &:hover {
                    color: $navigation-color-hover;
                }

                @include media($large-screen-down) {
                    display: block;
                }
            }
        }
    }

}
