section#people {
  @include media($large-screen-up) {
    background: $base-background-color url(image_path('heart.jpg')) no-repeat scroll bottom left;
  }

  @include media($large-screen-down) {
    background: $base-background-color url(image_path('heart.jpg')) no-repeat scroll center;
  }

  .people-items {
    @include media($large-screen-up) {
      @include shift(2);
    }
  }

  .people-item {
    @include media($large-screen-up) {
      @include shift(1);
      @include span-columns(3);
      @include omega(2n);
      @include pad(1em);
    }

    @include media($large-screen-down) {
      @include pad(1em 3em);
      @include fill-parent;
      @include row;
    }

    text-align: center;

    .iconbutton {
      background-color: $base-background-color;
      background-clip: padding-box;
      border: 1em solid transparentize($base-border-color, 0.5);

      @include media($large-screen-down) {
        border-radius: $base-border-radius;
        width: 100%;
        height: 100%;
        padding: 1em 1em 0em 1em;
      }

      @include media($large-screen-up) {
        border-radius: 50%;
        width: 14em;
        height: 14em;
        padding: 2.75em 1em 0em 1em;
        margin: 0 auto;
      }

      box-shadow: 0 0 8px darken($base-background-color, 30%);
      cursor: pointer;
      transition: all .4s;
      display: block;

      &:hover, &:active, &:focus {
        box-shadow: 0 0 24px darken($base-background-color, 50%);
        h4, i {
          color: $highlight;
        }
      }
    }

    h4 {
      font-size: 1.3em;
      letter-spacing: normal !important;
      text-transform: lowercase !important;
      font-variant: small-caps;
      transition: color 0.4s;
    }

    i {
      font-size: 4em;
      margin-bottom: .3em;
      transition: color 0.4s;
    }

    i {
      color: darken(white, 20%);
    }

    h4 {
      color: darken(white, 40%);
    }
  }
}
