section#people {
  @include media($large-screen-up) {
    background: $base-background-color url(image_path('heart.jpg')) no-repeat scroll bottom left;
  }

  .people-item {
    @include span-columns(6);
    @include omega(2n);

    @include media($large-screen-up) {
      @include pad(3em);
    }

    @include media($large-screen-down) {
      @include pad(1em 2em);
      @include fill-parent;
      @include row;
    }

    text-align: center;

    .iconbutton {
      background-color: $base-background-color;

      @include media($large-screen-down) {
        border-radius: $base-border-radius;
        width: 100%;
        height: 100%;
        padding: 1em 1em 0em 1em;
        border: 1px solid $base-border-color;
      }

      @include media($large-screen-up) {
        border-radius: 50%;
        width: 17em;
        height: 17em;
        padding: 4em 1em 0em 1em;
        margin: 0 auto;
        border: 1em solid transparentize($base-border-color, 0.5);
        background-clip: padding-box;
      }

      box-shadow: 0 0 8px darken($base-background-color, 20%);
      cursor: pointer;
      transition: all .4s;

      &:hover, &:active, &:focus {
        box-shadow: 0 4px 8px darken($base-background-color, 30%);
        i {
          color: $highlight;
        }
      }
    }

    h4 {
      text-transform: uppercase;
      font-size: 1.3em;
    }

    i {
      font-size: 4em;
      color: darken(white, 20%);
      margin-bottom: .3em;
      transition: color 0.4s;
    }
  }
}
