section#quotes {
  h2 {
    color: $title-text-color;
    text-align: center;
  }

  .container {
    @include media($large-screen-down) {
      margin: 0 2em;
    }
  }

  .image-bg {
    background-image: $parallax-quote-background;
  }

  p {
    font-family: $base-font-family;
    font-size: 1.6em;
    text-align: left;
    color: $title-text-color;

    @include media($large-screen-up) {
      width: 50%;
      margin: 0 auto;
    }

    @include media($large-screen-down) {
      font-size: 1.2em;
    }
  }
}
