section#quotes {
  padding: 6em 0;

  h2 {
    color: $title-text-color;
  }

  .container {
    @include media($large-screen-down) {
      margin: 0 2em;
    }      
  }

  .image-bg {
    background: $parallax-quote-background;
    background-size: cover;
  }

  p {
    font-family: $base-font-family;
    font-size: 1.6em;

    @include media($large-screen-up) {
      width: 50%;
      margin: 0 auto;
    }

    @include media($large-screen-down) {
      font-size: 1.2em;
    }

    text-align: left;
    font-style: normal;
    color: white;
    margin: 0;
    border: 0;
    padding-left: 0;
    cursor: move;
  }
}
