section#quotes {
  padding: 6em 0;

  h2 {
      color: $title-text-color;
  }

  .image-bg {
    background: $parallax-quote-background;
    background-size: cover;
  }

  p {
    @include media($medium-screen-down) {
      @include pad(0 10px);
      font-size: 1.6em;
    }

    @include media($small-screen-down) {
      font-size: 1.3em;
    }

    text-align: center;
    font-style: normal;
    color: white;
    margin: 0;
    border: 0;
    padding-left: 0;
    cursor: move;
  }
}
