.remodal{"data-remodal-id" => "faculty"}
  %button.remodal-close{"data-remodal-action" => "close"}
  .dialog-banner#faculty-banner
  .content-area
    %h1 Faculty
    %p The Service of Gratitude is part of the decades long commitment of the Yale School of Medicine faculty to teach not only the science of medicine, but also the empathy and compassion that sets Yale physicians apart.
.remodal{"data-remodal-id" => "family"}
  %button.remodal-close{"data-remodal-action" => "close"}
  .dialog-banner#family-banner
  .content-area
    %h1 Family
    %p At the Service of Gratitude, the families of donors see the impact that their loved ones have had on the hundreds of students that study anatomy each year.
.remodal{"data-remodal-id" => "students"}
  %button.remodal-close{"data-remodal-action" => "close"}
  .dialog-banner#students-banner
  .content-area
    %h1 Students
    %p The Service of Gratitude gives medical, nursing, and physician associate students an opportunity to show thanks to those who donated their bodies for medical education.
.remodal{"data-remodal-id" => "historians"}
  %button.remodal-close{"data-remodal-action" => "close"}
  .dialog-banner#historians-banner
  .content-area 
    %h1 Historians
    %p Each year, the historians of the Yale School of Medicine provide an important retrospective on the successes and failings of anatomists of the past and the lessons that these experiences provide for the future.
