%footer.footer
  .container
    %p.copyright
      Copyright &copy; 2015
      = link_to 'Praneeth Sadda', '//psadda.github.io'
      \ and 
      = link_to 'Yale Med Films', '//www.youtube.com/channel/UCBTch6QfTDpFn6ufkX2agrA'
      \- All Rights Reserved.
    %ul.social
      %li
        %a{:href => "//www.facebook.com/YaleHumanitiesInMedicine"}
          %i.fa.fa-facebook
      %li
        %a{:href => "//twitter.com/YaleMedHum"}
          %i.fa.fa-twitter
      %li
        %a{:href => "http://medicine.yale.edu/humanities/"}
          %i.fa.fa-institution
