.grid-items
  %a.grid-item.grid-item-image#history{href: 'javascript:void(0)'}
    %h2 History
  %a.grid-item.grid-item-big.grid-item-image#family{href: 'javascript:void(0)'}
    %h2 Family
  %a.grid-item.grid-item-big.grid-item-image#students{href: 'javascript:void(0)'}
    %h2 Students
  %a.grid-item.grid-item-image#faculty{href: 'javascript:void(0)'}
    %h2 Faculty
