%header#navigation.navigation.headroom
  .navigation-wrapper
    %a#js-mobile-menu.navigation-menu-button{href: '', title: 'Menu'}
      %i.fa.fa-navicon
    .nav
      %ul#navigation-menu
        %li.nav-link
          = link_to 'Home', '/'
        %li.nav-link
          = link_to 'About', '/#about'
        %li.nav-link
          = link_to 'Video', '/video'
        %li.nav-link
          = link_to 'More', '/#people'
