%section#intro.intro.parallax
  .image-bg{'data-stellar-background-ratio' => 0.2}
  .container
    .color-overlay
    %p
      We make a living
      %br
      by what we get,
      %br
      but we make a life by
    %h1 What we give
    %ul.mini-nav
      %li
        = link_to '/video' do
          Watch the video &nbsp;
          %i.fa.fa-play-circle
      %li
        = link_to '/#about' do
          Learn more &nbsp;
          %i.fa.fa-external-link
  = link_to '/#about', class: 'jump-down' do
    %i.fa.fa-chevron-down
%section#about
  .container
    .split
      .split-left.split-text
        %h2 A Yale Tradition
        %p &ldquo;What We Give&rdquo; began as an idea to contribute to an enduring tradition at the Yale School of Medicine&mdash;the Service of Gratitude Ceremony. Now a staple at many health professions schools across the country, the service brings together students, faculty, and the family members of donors.
%section.spacer.parallax
  .image-bg{'data-stellar-background-ratio' => 0.5}
%section#people
  .container
    .title
      %h2 Bringing people together
    .people-items
      .people-item
        .iconbutton
          %i.fa.fa-stethoscope
          %h4 Physicians
      .people-item
        .iconbutton
          %i.fa.fa-heart
          %h4 Family
      .people-item
        .iconbutton
          %i.fa.fa-graduation-cap
          %h4 Students
      .people-item
        .iconbutton
          %i.fa.fa-book
          %h4 Historians
%section#quotes.parallax
  .image-bg{'data-stellar-background-ratio' => 0.5}
  .container
    .color-overlay
    .title
      %h2 A place to reflect
      %p The Service of Gratitude provides a space to reflect openly on the impact that anatomy and the art of dissection had on students. It also provides an opportunity to celebrate the lives of the donors and thank them for their precious gift. The event commonly includes songs, artwork, poetry, recitations, and reflection.
    #quote-slider.owl-carousel.owl-theme
      .item
        %blockquote
          We make a living by what we get, but we make a life by what we give.
          %cite
            Winston Churchill,
            %a{href: '#'} Prime Minister
      .item
        %blockquote
          We make a living by what we get, but we make a life by what we give.
          %cite
            Winston Churchill,
            %a{:href => "#"} Prime Minister
